.cart-container {
    width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 5px; 
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  
  .cart-item span {
    margin-right: 10px;
  color: darkgreen;  
  
  }
  
  
  