.restaurant-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-around; 
}

.restaurant-details a {
  display: inline-block; 
  margin: 10px; 
  text-align: center; 
}


.restaurant-details img {
  width: 100%; 
  max-width: 200px; 
  height: auto; 
}
