.detalhes-restaurante-container {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    background: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .detalhes-restaurante-titulo {
    margin-bottom: 20px; 
    text-align: center; 
    color: #333; 
  }
  
  .detalhes-restaurante-imagem {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
  }
  
  